#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body{
  margin: 0;
  background-color: #F4F3EF;
}

.content {
  flex: 1;
  padding: 20px;
}

main, .main-content, .slider {
  margin-top: 150px; /* 根據 header 的高度調整 */
}
@media (max-width: 768px) {
  .content {
    flex: 1;
    margin-top:200px; /* 根據 header 的高度調整 */
  }
  

}
