.introduction {
  padding: 2rem;
  margin: 0 auto;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.tab {
  background-color: #f2d349;
  border: none;
  padding: 10px 20px;
  font-size: clamp(1rem, 2vw, 1.5rem);
  border-radius: 20px;
  cursor: pointer;
}

.tab.active {
  background-color: #e65832;
  color: white;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  transform: translateY(-80%);
}

.section {
  margin: 10% auto;
  padding: 2rem;
  background-color: #e9e0c7;
  color: rgb(50, 49, 49);
  font-weight: 700;
  border-radius: 30px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  opacity: 0;
  max-width: 85%;
  transform: translateY(20px);
  transition: all 0.6s ease;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

.section-header h2 {
  color: #d75b28;
  font-size: clamp(1.4em, 3vw, 3rem);
  font-weight: 700;
}

.section-header img {
  width: clamp(2rem, 15vw, 7rem);
  margin-right: -30px;
}

.section-area {
  display: flex;
  gap: 1.5rem;
  margin-top: -6rem;
}

.section-content {
  display: flex;
  flex-direction: column;
}

.section-content p {
  flex: 1;
  font-size: clamp(1rem, 1.5vw, 2rem);
  line-height: 1.6;
}

.section-area img {
  width: clamp(300px, 40vw, 100%);
  object-fit: contain;
  border-radius: 10px;
}

@media (max-width: 950px) {
  .section-content {
    flex-direction: column;
  }

  .section-content img {
    margin-top: 1rem;
  }

  .tabs {
    flex-wrap: wrap;
  }

  .tab {
    margin-bottom: 10px;
  }

  .section-area {
    margin-top: -4rem;
    flex-direction: column;
  }

  .section-area img {
    margin: 0 auto;
    width: 50vw;
  }

  .section {
    width: 100%;
    padding: 1.5rem;
  }
}
