
.spiritual-page {
  margin-top: -150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 頁面標題樣式 */
.page-title {
  font-size: clamp(20px, 5vw, 3rem);
  font-weight: bold;
  color: #626060;
  text-align: center;
}

/* 御守網格設定 */
.omamori-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.omamori-item {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.omamori-item p {
  text-align: right;
  font-weight: 700;
  font-size: clamp(25px, 2.5vw, 45px);
  margin-right: -20px;
}

.omamori-image {
  width: clamp(90px, 13vw, 450px);
  transition: transform 0.3s ease;
}

.clicked-animation {
  animation: scale-up 0.5s ease-out;
}

@keyframes scale-up {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1) translateY(100px);
  }
  100% {
    transform: scale(1);
  }
}

.omamori-item:hover .omamori-image {
  transform: scale(1.1);
}

.quote-display {
  margin: 15rem 0;
  padding: 25px;
  width: clamp(40rem, 50vw, 45rem);
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  border-radius: 20px;
  min-height: 300px;
  animation: slide-down 0.6s ease-out;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.red-title { color: #e74c3c; }
.orange-title { color: #e67e22; }
.yellow-title { color: #f1c40f; }
.green-title { color: #2ecc71; }
.blue-title { color: #3498db; }
.purple-title { color: #9b59b6; }
.white-title { color: #999898; }
.black-title { color: #2c3e50; }

.quote-category {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.quote-text {
  color: #333;
  margin: 50px auto;
  font-size: 2rem;
  line-height: 1.8;
  opacity: 0;
  animation: fade-line-in 2s ease-in forwards;
  width: 80%;
}

.recommended {
  margin: 40px auto;
  font-size: 1.6rem;
  color: #666;
  margin-bottom: 20px;
  opacity: 0;
  animation: fade-line-in 1.5s ease-in forwards;
  animation-delay: 3s;
  width: 80%;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 45px 0;
}

.retry-btn,
.link-btn {
  padding: 15px 30px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  opacity: 0;
  animation: fade-line-in 1.5s ease-in forwards;
  animation-delay: 6s;
}

.retry-btn:hover,
.link-btn:hover {
  background-color: #2980b9;
}

@keyframes fade-line-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-slide-enter-active,
.fade-slide-leave-active {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-slide-enter,
.fade-slide-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

@media (max-width: 768px) {
  .spiritual-page {
    margin-top: 0;
  }

  .omamori-grid {
    grid-template-columns: repeat(2, 1fr);
    margin-left: -5%;
    gap: 20px;
  }

  .omamori-image {
    width: clamp(70px, 30vw, 200px);
  }

  .quote-display {
    width: 85%;
    padding: 20px;
    font-size: 1.5rem;
    min-height: 250px;
    margin-top: 6rem;
    margin-bottom: 0;
  }

  .quote-category {
    font-size: clamp(1rem, 6vw, 1.7rem);
  }

  .quote-text {
    font-size: 1.2rem;
  }

  .recommended {
    font-size: 1.3rem;
  }

  .link-btn, .retry-btn {
    font-size: 1.2rem;
  }

  .omamori-item p {
    margin-right: 0;
  }
}
