html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* 禁止出現滾動條 */
  }
  
  .image-container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: auto;/* 預設寬度 */
    transition: all 0.3s ease-in-out; /* 保留平滑過渡 */
  }

  .text-div{
    margin-right: 10px;
  }

  .text-overlay {
    top: 20%;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* 防止文字干擾點擊 */
  }
  
  .animated-text {
    position: absolute;
    transform: translate(-50%, -50%); /* 使文字以中心點定位 */
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    opacity: 0;
    animation: fadeInUp 1s forwards;
    text-decoration: underline;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


/* 圖片 */
.swing-image {
  width: 100%;
  height: auto;
  animation: slide-in 1s ease-out, swing 3s infinite ease-in-out;
    top: 60%; /* 預設值 */

}

/* 定義滑入動畫 */
@keyframes slide-in {
  0% {
    transform: translateY(-100px); /* 從上方滑入 */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* 回到初始位置 */
    opacity: 1;
  }
}

/* 定義星星閃耀效果 */
@keyframes star-twinkle {
  0%, 100% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}


/* 星星容器 */
.swing-image-container {
  position: relative;
}

  .star {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent; /* 背景透明，主要靠邊框 */
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    ); /* 五角星形狀 */
    background-color: rgb(255, 255, 255);
    opacity: 0;
    animation: star-twinkle 2s infinite ease-in-out;
  }

  /* 星星閃耀動畫 */
  @keyframes star-twinkle {
    0%, 100% {
      opacity: 0;
      transform: scale(0.5) rotate(0deg);
    }
    50% {
      opacity: 1;
      transform: scale(1.2) rotate(20deg); /* 放大和旋轉 */
    }
  }

  /* 星星位置調整 */
  .star-1 {
    top: 50%;
    left: 20%;
    animation-delay: 0.2s;
  }
  .star-2 {
    top: 30%;
    left: 50%;
    animation-delay: 0.4s;
  }
  .star-3 {
    top: 70%;
    left: 80%;
    animation-delay: 0.6s;
  }
  
  
  .background {
    position: fixed; /* 確保背景固定在視窗內 */
    top: 0;
    left: 0;
    width: 100vw; /* 占滿視窗寬度 */
    height: 100vh; /* 占滿視窗高度 */
    background-image: url('@/assets/images/SHGbackground.png'); /* 替換為實際圖片路徑 */
    background-size: cover; /* 確保背景圖片覆蓋整個區域 */
    background-position: center;
    background-repeat: no-repeat; /* 禁止背景圖片重複 */
  }
  
  .click-circle {
    position: absolute;
    top: 70%; /* 圓圈的相對位置 */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12vw; /* 寬度為背景寬度的 15% */
    aspect-ratio: 1; /* 確保高度與寬度相等，保持正圓 */
    cursor: pointer;
  }
  
  .click-circle .click-image {
    width: 90%;
    height: 90%;
    border-radius: 50%; /* 圖片圓形效果 */
    object-fit: cover; /* 確保圖片完整覆蓋點擊區域 */
    transition: transform 0.3s ease; /* 平滑過渡效果 */
  }
  
  .click-circle:hover .click-image {
    transform: scale(1.02); /* 鼠標懸停時放大效果 */
  }
  
  
  /* 修改彈出視窗的背景層 */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    z-index: 1001 !important;
    align-items: center;
    opacity: 0; /* 初始透明 */
    visibility: hidden; /* 初始不可見 */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* 過渡效果 */
  }
  
  /* 當視窗打開時的狀態 */
  .modal-overlay.open {
    opacity: 1;
    visibility: visible; /* 顯示視窗 */
  }
  
  /* 修改彈出視窗的內容 */
  .modal-content {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 90%;
    max-width: 400px;
    transform: scale(0.8); /* 初始縮小 */
    opacity: 0; /* 初始透明 */
    transition: all 0.3s ease-in-out; /* 過渡效果 */
  
  
  }
  
  /* 當視窗打開時，內容放大並顯示 */
  .modal-overlay.open .modal-content {
    transform: scale(1); /* 還原大小 */
    opacity: 1; /* 完全可見 */
  }

  
  .modal-title{
    font-size: 20px;
    font-weight: bold; /* 加粗 */
    margin-bottom: 20px;
    margin-bottom: 15px; /* 與下方內容間距 */
    color: #6B3E23; /* 字體顏色 */
    text-align: center; /* 文字居中 */
  }
  
  
  .modal-image {
    width: 100%;
    height: auto; 
    max-width: 300px;
    max-height: 300px;
    object-fit: contain; 
    margin: 0 auto 10px; 
    border-radius: 8px;
  }
  
  .modal-text {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .animated-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #64BE94;
    color: white;
    text-decoration: none;
    opacity: 0; /* 初始不可見 */
    transform: translateY(20px); /* 往下偏移 */
    transition: all 0.5s ease-in-out; /* 過渡效果 */
    animation: button-fade-in 1s ease-out forwards; /* 動畫觸發 */
  }
  
  @keyframes button-fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px); /* 往下偏移 */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* 復原位置 */
    }
  }
  
  .animated-button:hover {
    background-color: #42795f; /* 鼠標懸停效果 */
    transform: scale(1.1); /* 放大效果 */
  }
  
  .close-button {
    position: absolute; /* 絕對定位 */
    top: 10px; /* 距離彈出視窗頂部的距離 */
    right: 10px; /* 距離彈出視窗右邊的距離 */
    background: none; /* 無背景 */
    border: none; /* 無邊框 */
    font-size: 18px; /* 圖標大小 */
    color: #333; /* 圖標顏色 */
    cursor: pointer; /* 滑鼠移上去時顯示為指針 */
  }
  
  .close-button:hover {
    color: #f44336; /* 滑鼠懸停時的顏色 */
    transform: scale(1.1); /* 稍微放大 */
    transition: all 0.2s; /* 過渡效果 */
  }
  
  
  /* 響應式設計 */
  @media screen and (min-width: 1025px) {

    .background {
      width: 100vw; /* 占滿視窗寬度 */
      background-size: contain; /* 確保背景圖片覆蓋整個區域 */
    }
  
    .click-circle {
      top: 73%; /* 上移圓圈位置 */
      width: 20vw; /* 更小的寬度，適配大屏幕 */
    }
  
    .modal-content {
      max-width: 600px; /* 更大的彈窗寬度 */
      padding: 30px; /* 增加內邊距 */
      font-size: 18px; /* 提高字體大小 */
    }
  }
  
  @media screen and (max-width: 1024px) {
      .background {
      width: 100vw; /* 占滿視窗寬度 */
      background-size: contain; /* 確保背景圖片覆蓋整個區域 */
    }
    .click-circle {
      top: 73%;
      width: 55vw; /* 調整寬度 */
    }
    .animated-text {
      position: absolute;
      transform: translate(-50%, -50%); /* 使文字以中心點定位 */
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      opacity: 0;
      animation: fadeInUp 1s forwards;
      text-decoration: underline;
    }
  }
  
  /* 手機 (最大寬度 768px) */
  @media screen and (max-width: 768px) {
    .background {
      width: 100vw; /* 占滿視窗寬度 */
      background-size: contain; /* 確保背景圖片覆蓋整個區域 */
    }
    .click-circle {
      top: 73%;
      width: 55vw; /* 手機上圈圈稍微縮小 */
    }
    .modal-content {
      font-size: 14px; /* 調整字體大小 */
      padding: 15px; /* 減少內距 */
    }
    .animated-text {
      position: absolute;
      transform: translate(-50%, -50%); /* 使文字以中心點定位 */
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      opacity: 0;
      animation: fadeInUp 1s forwards;
      text-decoration: underline;
    }
  }
  
  /* 小型手機 (最大寬度 480px) */
  @media screen and (max-width: 480px) {
    .background {
      width: 100vw; /* 占滿視窗寬度 */
      background-size: contain; /* 確保背景圖片覆蓋整個區域 */
    }
  
    .click-circle {
      top: 75%;
      width: 65vw; /* 更小屏幕圈圈大小 */
    }
    .modal-content {
      font-size: 12px; /* 進一步調整字體大小 */
    }
    .animated-text {
      position: absolute;
      transform: translate(-50%, -50%); /* 使文字以中心點定位 */
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      opacity: 0;
      animation: fadeInUp 1s forwards;
      text-decoration: underline;
    }
  }
  
  @media screen and (max-width:440px) {
    .background {
      width: 100vw; /* 占滿視窗寬度 */
      background-size: contain; /* 確保背景圖片覆蓋整個區域 */
    }
  
    .click-circle {
      top: 70%; /* 上移圈圈位置，防止太靠下 */
      width: 70vw; /* 調整圈圈寬度，適配小屏幕 */
    }
  
    .modal-content {
      font-size: 10px; /* 縮小字體大小，確保內容可讀 */
      padding: 10px; /* 減少內距，避免內容擠壓 */
    }
    .animated-text {
      position: absolute;
      transform: translate(-50%, -50%); /* 使文字以中心點定位 */
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      opacity: 0;
      animation: fadeInUp 1s forwards;
      text-decoration: underline;
    }
  }
  @media screen and (max-width:400px) {

    .background {
      width: 100vw; /* 占滿視窗寬度 */
      background-size: contain; /* 確保背景圖片覆蓋整個區域 */
    }
  
    .click-circle {
      top: 65%; /* 上移圈圈位置，防止太靠下 */
      width: 65vw; /* 調整圈圈寬度，適配小屏幕 */
    }
  
    .modal-content {
      font-size: 10px; /* 縮小字體大小，確保內容可讀 */
      padding: 10px; /* 減少內距，避免內容擠壓 */
    }
    .animated-text {
      position: absolute;
      transform: translate(-50%, -50%); /* 使文字以中心點定位 */
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      opacity: 0;
      animation: fadeInUp 1s forwards;
      text-decoration: underline;
    }
  }